.navbar{
    margin-bottom:0;
}
.profilePic {
    left: 0px;
    top: 0px;
    margin-left: 15rem;
    padding: 10px;
    float:left;
    img{
        border-radius: 50%;
        max-width: 100%;
        height: auto;
        width: auto\9; 
    }
}

.content {
    margin-left: 48rem;
    margin-top:25rem;
}

