<div class="section-wrapper z-depth-1">
    <div class="section-icon col s12 m12 l2">
        <i class="fa fa-suitcase"></i>
    </div>
    <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
        <h2>Work Experience</h2>
        <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s">
            <h3>Software Engineer <span>@Jack Henry & Associates. </span></h3>
            <span>APR 2015 - Present</span>
            <p>Effectively solve and correct errors in various web applications. Redesign existing web application to match
                team standards. Consult with system analysts to define and resolve problems. Provide technical support
                for new and existing applications.</p>
        </div>
        <div class="custom-content-wrapper wow fadeIn a4" data-wow-delay="0.4s">
            <h3>Internship <span>@Southwest Baptist University</span></h3>
            <span>JUN 2013 - APR 2015 </span>
            <p>Completed work orders in a timely manner. Performed maintenance and upgrades to campus workstations. Assisted
                students, faculty, and staff with network access issues.</p>
        </div>
    </div>
</div>