.content {
  margin-top: 1rem;
  margin-bottom: 1rem;
  @media only screen and (max-width: 992px) {
    text-align: center;
  }
  & md-card {
    margin-bottom: 24px;
    & md-card-content {
      margin-top: 15px;
      margin-bottom: 25px;
      & h2 {
        font-size: 22pt;
        line-height: 37pt;
      }
      & h3 {
        font-size: 12pt;
        line-height: 20pt;
        margin: 0px;
      }
      & p {
        font-weight: 300;
        font-size: 10pt;
        line-height: 17pt;
      }
      & span {
        color: rgb(93, 164, 217);
        margin-top: 0px;
        font-size: 10pt;
        line-height: 15pt;
      }
      & .experience {
        & div {
          padding-right: 30px;
          margin-bottom: 25px;
          border-bottom: 1px solid rgb(189, 189, 189);
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: rgb(189, 189, 189);
        }
        & div:last-child {
          border: none;
        }
      }
      & .skills {
        & md-chip {
          margin-top: 10px;
        }
      }
    }
  }
  & .sidebar {
    background-color: #5da4d9;
    color: #ffffff;
    line-height: 1.5;
    & .row {
      .detail {
        padding-bottom: 20px !important;
        margin-bottom: 20px;
        border-bottom: 1px solid rgb(71, 131, 194);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(71, 131, 194);
      }
    }
    .border-none {
      border: none !important;
    }
    & span {
      opacity: 0.7;
      font-weight: 300;
    }
    & a {
      color: #ffffff;
      text-decoration: none;
    }
    & i {
      font-size: 22px;
    }
    & h2 {
      font-size: 22pt;
    }
    & h4 {
      font-size: 12pt;
      line-height: 20pt;
      opacity: 1;
    }
    p {
      font-weight: 300;
      font-size: 10pt;
      line-height: 17pt;
    }
  }
  & .interests {
    & ul {
      margin-bottom: -5px;
      list-style-type: none;
      padding-left: 0px;
      & li {
        display: inline-block;
        width: 19%;
        & img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
  & .sections {
    & md-card-content {
      color: #767270 !important;
    }
    & i {
      text-align: center;
      display: block;
      font-size: 30pt;
    }
  }
}
