<div class="container content">
    <div class="row">
        <div class="col-md-4">
            <md-card class="sidebar">
                Simple card
            </md-card>
        </div>
        <div class="col-md-8">
            <md-card class="sidebar">
                Simple card
            </md-card>
            <md-card class="experience">
                <md-card-content>
                    <md-card-header>
                        <div md-card-avatar class="fa fa-suitcase"></div>
                        <h2>Work Experience</h2>
                    </md-card-header>
                    <div>
                        <h3>Software Engineer <span>@Jack Henry & Associates. </span></h3>
                        <span>APR 2015 - Present</span>
                        <p>Effectively solve and correct errors in various web applications. Redesign existing web application to match team standards. Consult with system analysts to define and resolve problems. Provide technical support for new and existing
                            applications.
                        </p>
                    </div>
                    <div>
                        <h3>Internship <span>@Southwest Baptist University</span></h3>
                        <span>JUN 2013 - APR 2015 </span>
                        <p>Completed work orders in a timely manner. Performed maintenance and upgrades to campus workstations. Assisted students, faculty, and staff with network access issues.</p>
                    </div>
                </md-card-content>
            </md-card>
            <md-card class="education">
                Simple card
            </md-card>
            <md-card class="interests">
                Simple card
            </md-card>
        </div>
    </div>
</div>