<main>
  <div class="profilePic col-md-2">
          <img class="img-fluid img-responsive" src="https://www.gravatar.com/avatar/{{this.emailHash}}?s=500" />
        </div>
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="active"><a routerLink="about" routerLinkActive="active">About</a></li> 
        <li><a routerLink="experience">Experience</a></li>
        <li><a routerLink="education">Education</a></li>
        <li><a routerLink="skills">Skills</a></li>
        <li><a routerLink="contact">Contact</a></li>
      </ul>
  </div>
  <div class="col-sm-12 content">
    <router-outlet></router-outlet>
  </div>
</main>
