<div class="section-wrapper z-depth-1">
    <div class="section-icon col s12 m12 l2">
        <i class="fa fa-code"></i>
    </div>
    <div class="interests col s12 m12 l10 wow fadeIn" data-wow-delay="0.1s">
        <h2>Interests</h2>
        <ul>
            <!-- interetsr icon start -->
            <li ><a href="https://angular.io/" ><img src="/assets/images/angular.png" class="responsive-img  tooltipped" data-position="bottom" data-delay="25" data-tooltip="Angular 2"></a></li>
            <li><a href="https://www.docker.com/"><img src="/assets/images/docker.png" class="responsive-img tooltipped" data-position="bottom" data-delay="25" data-tooltip="Docker"></a></li>
            <li><a href="https://nodejs.org/"><img src="/assets/images/nodejs.png" class="responsive-img tooltipped" data-position="bottom" data-delay="25" data-tooltip="NodeJS"></a></li>
            <li><a href="https://www.mongodb.com/"><img src="/assets/images/mongo.png" class="responsive-img tooltipped" data-position="bottom" data-delay="25" data-tooltip="Mongo"></a></li>
            <li><a href="https://www.archlinux.org/"><img src="/assets/images/arch.png" class="responsive-img tooltipped" data-position="bottom" data-delay="25" data-tooltip="Arch Linux"></a></li>
        </ul>
        <!-- interetsr icon end -->
    </div>
</div>