<!-- Start Sidebar -->
<aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
    <!--  Sidebar row -->
    <div class="row">
        <!--  top section   -->
        <div class="heading">

            <div class="feature-img">
                <a href="index.html"><img src="https://www.gravatar.com/avatar/{{this.emailHash}}?s=500" class="responsive-img" alt=""></a>
            </div>


        </div>
        <!-- sidebar info -->
        <div class="col l12 m12 s12 sort-info sidebar-item">
            <div class="row">
                <div class="col m12 s12 l3 icon">
                    <!-- icon -->
                    <i class="fa fa-user"></i>
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a1" data-wow-delay="0.1s">
                    <!-- text -->
                    <div class="section-item-details">
                        <div class="personal">
                            <h2>Steven Harris</h2>
                            <span>Software Engineer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col l12 m12 s12 sort-info sidebar-item">
            <div class="row">
                <div class="col m12 s12 l3 icon">
                    <!-- icon -->
                    <i class="fa fa-info"></i>
                </div>
                <div class=" col m12 s12 l9 info wow fadeIn a1 " data-wow-delay="0.1s ">
                    <!-- text -->
                    <div class="section-item-details ">
                        <div class="personal ">
                            <p>Passionate about innovation and well designed applications. Extensive experience with platform independent design. Experience in networking, user, and technical support. Strong background in .NET framework.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MOBILE NUMBER -->
        <div class="col l12 m12 s12 mobile sidebar-item ">
            <div class="row ">
                <div class="col m12 s12 l3 icon ">
                    <i class="fa fa-phone "></i>
                    <!-- icon -->
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a2 " data-wow-delay="0.2s ">
                    <div class="section-item-details ">
                        <div class="personal ">
                            <h4><a href="tel:417-399-7516 ">(417) 399 - 7516</a></h4>
                            <!-- Number -->
                            <span>mobile</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  EMAIL -->
        <div class="col l12 m12 s12 email sidebar-item ">
            <div class="row ">
                <div class="col m12 s12 l3 icon ">
                    <i class="fa fa-envelope "></i>
                    <!-- icon -->
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a3 " data-wow-delay="0.3s ">
                    <div class="section-item-details ">
                        <div class="personal ">
                            <h4><a href="mailto:stevenharrisdev@gmail.com ">stevenharrisdev@gmail.com</a></h4>
                            <!-- Email -->
                            <span>email</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ADDRESS  -->
        <div class="col l12 m12 s12 address sidebar-item ">
            <div class="row ">
                <div class="col l3 m12 s12 icon ">
                    <i class="fa fa-home "></i>
                    <!-- icon -->
                </div>
                <div class="col m12 s12 l9 info wow fadeIn a4 " data-wow-delay="0.4s ">
                    <div class="section-item-details ">
                        <div class="personal ">
                            <h4>Springfield, Mo</h4>
                            <span>location</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SKILLS -->
        <div class="col l12 m12 s12 skills sidebar-item ">
            <div class="row ">
                <div class="col m12 l3 s12 icon ">
                    <i class="fa fa-calendar-o "></i>
                    <!-- icon -->
                </div>
                <!-- Skills -->
                <div class="col m12 l9 s12 skill-line a5 wow fadeIn " data-wow-delay="0.5s ">
                    <h3>Professional Skills </h3>
                    <span>Angular 2</span>
                    <div class="progress ">
                        <div class="determinate ">90%</div>
                    </div>
                    <span>NodeJS</span>
                    <div class="progress ">
                        <div class="determinate ">80%</div>
                    </div>

                    <span>Docker</span>
                    <div class="progress ">
                        <div class="determinate ">60%</div>
                    </div>

                    <span>C#</span>
                    <div class="progress ">
                        <div class="determinate "> 95%</div>
                    </div>

                    <span>.NET Core</span>
                    <div class="progress ">
                        <div class="determinate "> 95%</div>
                    </div>

                    <span>Sass</span>
                    <div class="progress ">
                        <div class="determinate ">75%</div>
                    </div>

                    <span>HTML</span>
                    <div class="progress ">
                        <div class="determinate ">100%</div>
                    </div>

                    <span>CSS</span>
                    <div class="progress ">
                        <div class="determinate ">100%</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</aside>
<!-- end sidebar -->